<!DOCTYPE html>
<html>
    
    <head>

    </head>
    <Body>  
        <form name = "AdminLoginPage" method="POST">
             <div class="container">
                 <span id="head-txt">MH system</span>
                 <span id="E-mail_hint">AdminAuth</span>
                 <input id="login" name = "AdminToken" placeholder="AdminToken class="form" required>
                 <input value="Войти" type="submit" id="btn-singin">
             </div>
        </form>

    </Body>
</html>