<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MH</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link href="../static/dist/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrapper">
            <form name = "LoginPage" method="POST">
                <div class="lg">
                    <p><center><span id="head-txt">MH system</span></center></p>
                    <span id="E-mail_hint">E-mail</span>
                    <p><center><input id="login" placeholder="E-mail" name = "Username" required></center></p>
                    <span id="Password_hint">Пароль</span>
                    <p><center><input id="password"  placeholder="Пароль"  type="password" name = "Password" required></center></p>
                    <p><center><input value="Войти" type="submit" id="btn-singin"></center></p>
                    <p><center><span id="reg">Еще не зарегестрированны? <a href="/registration">Регистрация</a></span></center></p>
                </div>
            </form>
        </div>
        <script src="../static/dist/app.js"></script>
    </body>
</html>