<!DOCTYPE html>
<html>
    
    <head>

    </head>
    <Body>  
        <form name = "LoginPage" method="POST">
             <div class="container">
                 <span id="head-txt">MH system</span>
                 <span id="E-mail_hint">E-mail</span>
                 <input id="login" name = "Username" placeholder="E-mail" class="form" required>
                 <span id="Password_hint">Пароль</span>
                 <input id="password" name = "Password" placeholder="Пароль"  type="password" required>
                 <input value="Войти" type="submit" id="btn-singin">
                 <span id="reg">Еще не зарегестрированны? <a href= "/registration">Регистрация</a></span>
             </div>
        </form>

    </Body>
</html>