<!DOCTYPE html>
<html>
    <head>

    </head>
    <Body>  
        <form name = "RegPage" method="POST">
             <div class="container">
                 <span id="head-txt">MHJavaCode</span>
		 <span id="E-mail_hint">Ваш логин/e-mail</span>
                 <input id="login" name = "Username" placeholder="Ваш логин/e-mail" class="form" required>
		 <span id="Password_hint">Пароль</span>
                 <input id="password" name = "Password" placeholder="Пароль"  type="password" required>
		 <span id="Copypassword_hint">Повторите пароль</span>
                 <input id="copypassword" name = "Copypassword" placeholder="Повторите пароль"  type="password" required>
                 <input value="Зарегистрироваться" type="submit" id="btn-singup">
                 <span id="reg">Уже зарегестрированны? <a href="/login">Авторизация</a></span>
             </div>
        </form>
    </Body>
    
</html>