<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MH</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
        <link href="../static/dist/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="wrapper">
            <form name = "RegPage" method="POST">
                <div class="lg-2">
                    <p><center><span id="head-txt-2">MH system</span></center></p>
                    <span id="E-mail_hint-2">E-mail</span>
                    <p><center><input id="login-2" placeholder="E-mail" name = "Username" required></center></p>
                    <span id="Password_hint-2">Пароль</span>
                    <p><center><input id="password-2"  placeholder="Пароль"  type="password" name = "Password" required></center></p>
                    <span id="CopyPassword_hint-2">Повторите пароль</span>
                    <p><center><input id="password-2"  placeholder="Повторите пароль"  type="password" name = "Copypassword" required></center></p>
                    <p><center><input value="Зарегистрироваться" type="submit" id="btn-singin-2"></center></p>
                    <p><center><span id="reg-2">Уже зарегестрированы?<a href="/login">Вход</a></span></center></p>
                </div>
            </form>
        </div>
        <script src="/dist/app.js"></script>
    </body>
</html>